## Context

- You are a Data Scientist working at the USDA. 

- Your department has been tracking the production of various agricultural commodities across different states.

- The data spans multiple years and states, with varying levels of production for each commodity.

- Your manager has requested that you generate insights from this data to aid in future planning and decision-making. You'll need to use SQL queries to answer the questions that come up in meetings, reports, or strategic discussions.

- In general, this dataset is popular to explore how Dairy Production & Agricultural Commodities have evolved over time, including the participation and performance of different states spanning over multiple years.

- The original sources of data are located below if you are interested in using this data for other purposes

## Dataset Description:

<u>We'll work on six datasets (in six separate csv files):</u>


- **state_lookup:** Each record describes a unique State_ANSI code for each state.
https://github.com/Johnson02468/Johnson248/blob/21464a845814ea9d00c7cd94e783e80eaf1adf52/state_lookup.csv
- **cheese_production:** Each row describes a production value for State_ANSI codes.
https://github.com/Johnson02468/Johnson248/blob/21464a845814ea9d00c7cd94e783e80eaf1adf52/cheese_production.numbers
- **coffee_production:** Each row describes a production value for State_ANSI codes.
https://github.com/Johnson02468/Johnson248/blob/21464a845814ea9d00c7cd94e783e80eaf1adf52/coffee_production.csv
- **egg_production:** Each row describes a production value for State_ANSI codes.
https://github.com/Johnson02468/Johnson248/blob/21464a845814ea9d00c7cd94e783e80eaf1adf52/egg_production.csv
- **honey_production:** Each row describes a production value for State_ANSI codes.
https://github.com/Johnson02468/Johnson248/blob/21464a845814ea9d00c7cd94e783e80eaf1adf52/honey_production%20copy.csv
- **milk_production:** Each row describes a production value for State_ANSI codes.
https://github.com/Johnson02468/Johnson248/blob/3bb64859ad3c2889b0d9bdfca417aa25b850dd69/milk_production.csv

## Objective:

- Examine/clean the dataset using Python and/or SQL queries.

- Assess state-by-state production for each commodity.

- Identify trends or anomalies.

- Offer data-backed suggestions for areas that may need more attention.

- Explore distributions of single numerical and categorical features via statistics and plots.

- Explore relationships of multiple features via statistics and plots.

- We are only going to explore part of the dataset, please feel free to explore more if you are interested.

### 1. Import the libraries

In [ ]:
import pandas as pd
import sqlite3 
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import numpy as np
from matplotlib.ticker import StrMethodFormatter
%matplotlib inline

### 2. Install Python-sql extension and Connect to SQLite

In [ ]:
!pip3 install ipython-sql

cnn = sqlite3.connect('farm.db')

%load_ext sql

%sql sqlite:///farm.db

### 3. Read the cheese_production CSV file and write it to the SQL database

In [ ]:
cheese_production=pd.read_csv('cheese_production.csv')

In [ ]:
cheese_production.to_sql('cheese_production',
                         cnn,
                        if_exists= 'replace')

### 4. Verify SQL magic is Functioning and Load Data as a DataFrame

In [ ]:
%%sql

Select *
From cheese_production
limit 5

In [ ]:
result = %sql Select * From cheese_production

cheese_production = result.DataFrame()

cheese_production.head()

### 5. Check Data Type and Number of Non-Null rows.

In [ ]:
cheese_production.info()

### 6. Check for Unique Values in each column, and Identify Duplicate Rows

In [ ]:
#Note we have 13 Periods instead of 12
cheese_production.nunique()

In [ ]:
cheese_production[cheese_production.duplicated()]

### 7. Confirm Null Counts

In [ ]:
cheese_production.isna().sum()

### 8. Generate a Statistical Summary of the Data.

In [ ]:
cheese_production.describe().T

### 9. Convert the Value Column to Numeric, Remove commas, and Handle Errors.

In [ ]:
cheese_production['Value']= pd.to_numeric(cheese_production['Value'].str.replace(',',''), errors = 'coerce')

In [ ]:
cheese_production.head()

In [ ]:
cheese_production.describe().T

### 10. Display Scientific Notation in a Numeric Output

In [ ]:
pd.set_option('display.float_format', '{:,.0f}'.format)

cheese_production.describe().T

In [ ]:
cheese_production.to_sql('cheese_production', cnn, index=False, if_exists='replace')

### 11. Use the SQL Queries to Verify Max and Average Values.

In [ ]:
%%sql

Select Max(value) 
From cheese_production

In [ ]:
%%sql

Select AVG(value) 
From cheese_production

### 12. Create a Histogram and Box Plot to Identify Outliers.

In [ ]:
hi = cheese_production.hist(figsize=(20, 20), rwidth=0.95)

# Apply formatting to all axes
for a in hi.flatten():
    a.tick_params(axis='x', rotation=5)
    a.ticklabel_format(style='plain', axis='x')  # Prevent scientific notation
    a.xaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'{x:,.0f}'))
    a.yaxis.set_major_formatter(ticker.FuncFormatter(lambda y, _: f'{y:,.0f}'))

plt.tight_layout()
plt.show()

### 13. Sort Data by Value to Verify Distribution.

In [ ]:
cheese_production[['Value', 'State_ANSI', 'Year']].sort_values(by='Value', ascending=False)

In [ ]:
cheese_production.boxplot('Value')

### 14. Use PRAGMA to Check Column Data Type in SQLite query

In [ ]:
%%sql

PRAGMA table_info(cheese_production);

### 15. MODIFY SQL Table: Remove Commas, Duplicate "Value" Column as Int Column

In [ ]:
%%sql

UPDATE cheese_production 
SET value = REPLACE(value, ',', '')

In [ ]:
%%sql

ALTER TABLE cheese_production
ADD Value2 int(32)

In [ ]:
%%sql

Update cheese_production
SET Value2 = Value

In [ ]:
%%sql

ALTER TABLE cheese_production
DROP COLUMN Value

In [ ]:
%%sql

Select *
From cheese_production
limit 5

In [ ]:
#Note Sqlite doesn't offer a single command code that will rename columns and changing the data type

### 16. Confirm Null Values in the Value Column

In [ ]:
%%sql

Select State_ANSI, Value2
From cheese_production
Where Value2 is null

## Coffee Production

### 1. Read the coffee_production CSV file and Write it to the SQL database

In [ ]:
coffee_production=pd.read_csv('coffee_production.csv')

### 2. Verify SQL magic is Functioning and Load Data as a DataFrame

In [ ]:
coffee_production.to_sql('coffee_production',
                         cnn,
                        if_exists= 'replace')

In [ ]:
%%sql

Select *
From coffee_production
limit 5

In [ ]:
result1 = %sql Select * From coffee_production
coffee_production = result1.DataFrame()

In [ ]:
coffee_production.head()

### 3. Check Data Type and Number of Non-Null rows.

In [ ]:
coffee_production.info()

### 4. Check for Unique Values in each column, and Identify Duplicate Rows

In [ ]:
coffee_production.nunique()

In [ ]:
coffee_production[coffee_production.duplicated()]

### 5. Confirm Null Counts

In [ ]:
coffee_production.isna().sum()

### 6. Generate a Statistical Summary of the Data.

In [ ]:
coffee_production.describe().T

### 7. Convert the Value Column to Numeric, Remove commas, and Handle Errors.

In [ ]:
coffee_production['Value']= pd.to_numeric(coffee_production['Value'].str.replace(',',''), errors = 'coerce')

In [ ]:
coffee_production.head()

In [ ]:
#The describe method confirms 15 as the only State_ANSI to produce coffee.
coffee_production.describe().T

In [ ]:
coffee_production.to_sql('coffee_production', cnn, index=False, if_exists='replace')

### 8. Use the SQL Queries to Verify Max and Average Values.

In [ ]:
%%sql

Select Max(Value)
From coffee_production

In [ ]:
%%sql

Select AVG(Value)
From coffee_production

### 9. Create a Histogram and Box Plot to Identify Outliers.

In [ ]:
his = coffee_production.hist(figsize=(20, 20), rwidth=0.95)

# Apply formatting to all axes
for a in his.flatten():
    a.tick_params(axis='x', rotation=5)
    a.ticklabel_format(style='plain', axis='x')  # Prevent scientific notation
    a.xaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'{x:,.0f}'))
    a.yaxis.set_major_formatter(ticker.FuncFormatter(lambda y, _: f'{y:,.0f}'))

plt.tight_layout()
plt.show()

### 10. Sort Data by Value to Verify Distribution.

In [ ]:
coffee_production[['Value', 'State_ANSI', 'Year']].sort_values(by='Value', ascending=False)

In [ ]:
coffee_production.boxplot('Value')

### 11.Use PRAGMA to Check Column Data Type in SQLite query

In [ ]:
%%sql

PRAGMA table_info(coffee_production);

### 12. Confirm Null Values in the Value Column

In [ ]:
%%sql

Select *
From coffee_production
WHERE Value is null

## Egg Production

### 1. Read the egg_production CSV File and Write it to the SQL database

In [ ]:
egg_production=pd.read_csv('egg_production.csv')

In [ ]:
egg_production.to_sql('egg_production',
                         cnn,
                        if_exists= 'replace')

### 2. Verify SQL magic is Functioning and Load Data as a DataFrame

In [ ]:
%%sql 

Select * 

From egg_production
limit 5

### 3. Verify SQL magic is Functioning and Load Data as a DataFrame

In [ ]:
result2 = %sql Select * From egg_production
egg_production = result2.DataFrame()

In [ ]:
egg_production.head()

### 4. Check Data Type and Number of Non-Null rows.

In [ ]:
egg_production.info()

### 5. Check for Unique Values in each column, and Identify Duplicate Rows

In [ ]:
egg_production.nunique()

In [ ]:
egg_production[egg_production.duplicated()]

### 6. Confirm Null Counts

In [ ]:
egg_production.isna().sum()

### 7. Generate a Statistical Summary of the Data.

In [ ]:
egg_production.describe().T

### 8. Convert the Value Column to Numeric, Remove commas, and Handle Errors.

In [ ]:
egg_production['Value']= pd.to_numeric(egg_production['Value'].str.replace(',',''), errors = 'coerce')

In [ ]:
egg_production.head()

In [ ]:
egg_production.describe().T

### 9. Use the SQL Queries to Verify Max and Average Values.

In [ ]:
%%sql

Select Max(Value)
From egg_production

In [ ]:
%%sql

Select AVG(Value)
From egg_production

In [ ]:
egg_production.to_sql('egg_production', cnn, index=False, if_exists='replace')

### 10. Create a Histogram and Box Plot to Identify Outliers.

In [ ]:
hist = egg_production.hist(figsize=(20, 20), rwidth=0.95)

# Apply formatting to all axes
for a in hist.flatten():
    a.tick_params(axis='x', rotation=5)
    a.ticklabel_format(style='plain', axis='x')  # Prevent scientific notation
    a.xaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'{x:,.0f}'))
    a.yaxis.set_major_formatter(ticker.FuncFormatter(lambda y, _: f'{y:,.0f}'))

plt.tight_layout()
plt.show()

### 11. Sort Data by Value to Verify Distribution.

In [ ]:
egg_production[['Value', 'State_ANSI', 'Year']].sort_values(by='Value', ascending=False)

In [ ]:
egg_production.boxplot('Value')

### 12. Use PRAGMA to Check Column Data Type in SQLite query

In [ ]:
%%sql

PRAGMA table_info(egg_production);

### 13. Confirm Null Values in the Value Column

In [ ]:
%%sql

Select Period, Year, State_ANSI, Value
From egg_production
Where Value is null

## Honey Production

### 1. Read the honey_production CSV file and write it to the SQL database

In [ ]:
honey_production=pd.read_csv('honey_production.csv')

In [ ]:
honey_production.to_sql('honey_production',
                         cnn,
                        if_exists= 'replace')

### 2. Verify SQL magic is Functioning and Load Data as a DataFrame

In [ ]:
%%sql 

Select * 
From honey_production
limit 5

In [ ]:
result3 = %sql Select * From honey_production
honey_production = result3.DataFrame()

In [ ]:
honey_production.head()

### 3. Check Data Type and Number of Non-Null rows.

In [ ]:
honey_production.info()

### 4. Check for Unique Values in each column, and Identify Duplicate Rows

In [ ]:
honey_production.nunique()

In [ ]:
honey_production[honey_production.duplicated()]

### 5. Confirm Null Counts

In [ ]:
honey_production.isna().sum()

### 6. Generate a Statistical Summary of the Data.

In [ ]:
honey_production.describe().T

### 7. Convert the Value Column to Numeric, Remove commas, and Handle Errors.

In [ ]:
honey_production['Value']= pd.to_numeric(honey_production['Value'].str.replace(',',''), errors = 'coerce')

In [ ]:
honey_production.head()

In [ ]:
honey_production.describe().T

In [ ]:
honey_production.to_sql('honey_production', cnn, index=False, if_exists='replace')

### 8. Use the SQL Queries to Verify Max and Average Values.

In [ ]:
%%sql

Select Max(Value)
From honey_production

In [ ]:
%%sql

Select AVG(Value)
From honey_production

### 9. Create a Histogram and Box Plot to Identify Outliers.

In [ ]:
histo = honey_production.hist(figsize=(20, 20), rwidth=0.95)

# Apply formatting to all axes
for a in histo.flatten():
    a.tick_params(axis='x', rotation=5)
    a.ticklabel_format(style='plain', axis='x')  # Prevent scientific notation
    a.xaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'{x:,.0f}'))
    a.yaxis.set_major_formatter(ticker.FuncFormatter(lambda y, _: f'{y:,.0f}'))

plt.tight_layout()
plt.show()

### 10.  Sort Data by Value to Verify Distribution.

In [ ]:
honey_production[['Value', 'State_ANSI', 'Year']].sort_values(by='Value', ascending=False)

In [ ]:
honey_production.boxplot('Value')

### 11. Use PRAGMA to Check Column Data Type in SQLite query

In [ ]:
%%sql

PRAGMA table_info(honey_production);

### 12. Confirm Null Values in the Value Column

In [ ]:
%%sql

Select 
    Year, State_ANSI, Value
From honey_production
Where Value is null

## Milk Production

### 1. Read the milk_production CSV file and Write it to the SQL database

In [ ]:
milk_production=pd.read_csv('milk_production.csv')

In [ ]:
milk_production.to_sql('milk_production',
                         cnn,
                        if_exists= 'replace')

### 2. Verify SQL magic is Functioning and Load Data as a DataFrame

In [ ]:
%%sql 

Select * 

From milk_production
limit 5

In [ ]:
result4 = %sql Select * From milk_production
milk_production = result4.DataFrame()

In [ ]:
milk_production.head()

### 3. Check Data Type and Number of Non-Null rows.

In [ ]:
milk_production.info()

### 4. Check for Unique Values in each column, and Identify Duplicate Rows

In [ ]:
milk_production.nunique()

In [ ]:
milk_production[milk_production.duplicated()]

### 5. Confirm Null Counts

In [ ]:
milk_production.isna().sum()

### 6. Generate a Statistical Summary of the Data.

In [ ]:
milk_production.describe().T

### 7. Convert the Value Column to Numeric, Remove commas, and Handle Errors.

In [ ]:
milk_production['Value']= pd.to_numeric(milk_production['Value'].str.replace(',',''), errors = 'coerce')

In [ ]:
milk_production.head()

In [ ]:
milk_production.describe().T

In [ ]:
milk_production.to_sql('milk_production', cnn, index=False, if_exists='replace')

### 8. Use the SQL Queries to Verify Max and Average Values.

In [ ]:
%%sql

Select Max(Value)
From milk_production

In [ ]:
%%sql

Select AVG(Value)
From milk_production

### 9. Create a Histogram and Box Plot to Identify Outliers.

In [ ]:
histog = milk_production.hist(figsize=(20, 20), rwidth=0.95)

# Apply formatting to all axes
for a in histog.flatten():
    a.tick_params(axis='x', rotation=5)
    a.ticklabel_format(style='plain', axis='x')  # Prevent scientific notation
    a.xaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'{x:,.0f}'))
    a.yaxis.set_major_formatter(ticker.FuncFormatter(lambda y, _: f'{y:,.0f}'))

plt.tight_layout()
plt.show()

### 10. Sort Data by Value to Verify Distribution.

In [ ]:
milk_production[['Value', 'State_ANSI', 'Year']].sort_values(by='Value', ascending=False)

In [ ]:
milk_production.boxplot('Value')

### 11. Use PRAGMA to Check Column Data Type in SQLite query

In [ ]:
%%sql

PRAGMA table_info(milk_production);

### 12. Confirm Null Values in the Value Column

In [ ]:
%%sql

Select 
    Year, State_ANSI, Value
From milk_production
Where Value is null

## State Lookup

### 1. Read the state_lookup CSV file and write it to the SQL database

In [ ]:
state_lookup=pd.read_csv('state_lookup.csv')

In [ ]:
state_lookup.to_sql('state_lookup',
                         cnn,
                        if_exists= 'replace')

### 2. Verify SQL magic is Functioning and Load Data as a DataFrame

In [ ]:
%%sql 

Select * 

From state_lookup
limit 5

### 3. Check for Unique Values in each column, and Identify Duplicate Rows

In [ ]:
state_lookup.nunique()

### 4. Use PRAGMA to Check Column Data Type in SQLite query

In [ ]:
%%sql

PRAGMA table_info(state_lookup);

## Yogurt Production

### 1. Read the cheese_production CSV file and write it to the SQL database

In [ ]:
yogurt_production=pd.read_csv('yogurt_production.csv')

In [ ]:
yogurt_production.to_sql('yogurt_production',
                         cnn,
                        if_exists= 'replace')

### 2. Verify SQL magic is Functioning and Load Data as a DataFrame

In [ ]:
%%sql 

Select * 

From yogurt_production
limit 5

In [ ]:
result5 = %sql Select * From yogurt_production
yogurt_production = result5.DataFrame()

In [ ]:
yogurt_production.head()

### 3. Check Data Type and Number of Non-Null rows.

In [ ]:
yogurt_production.info()

### 4. Check for Unique Values in each column, and Identify Duplicate Rows

In [ ]:
yogurt_production.nunique()

In [ ]:
yogurt_production[yogurt_production.duplicated()]

### 5. Confirm Null Counts

In [ ]:
yogurt_production.isna().sum()

### 6. Generate a Statistical Summary of the Data.

In [ ]:
yogurt_production.describe().T

### 7. Convert the Value Column to Numeric, Remove commas, and Handle Errors.

In [ ]:
yogurt_production['Value']= pd.to_numeric(yogurt_production['Value'].str.replace(',',''), errors = 'coerce')

In [ ]:
yogurt_production.head()

In [ ]:
yogurt_production.describe().T

In [ ]:
yogurt_production.to_sql('yogurt_production', cnn, index=False, if_exists='replace')

### 8. Use the SQL Queries to Verify Max and Average Values.

In [ ]:
%%sql

Select AVG(Value)
From yogurt_production

In [ ]:
%%sql

Select Max(Value)
From yogurt_production

### 9. Create a Histogram and Box Plot to Identify Outliers.

In [ ]:
histogr = yogurt_production.hist(figsize=(20, 20), rwidth=0.95)

# Apply formatting to all axes
for a in histogr.flatten():
    a.tick_params(axis='x', rotation=5)
    a.ticklabel_format(style='plain', axis='x')  # Prevent scientific notation
    a.xaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'{x:,.0f}'))
    a.yaxis.set_major_formatter(ticker.FuncFormatter(lambda y, _: f'{y:,.0f}'))

plt.tight_layout()
plt.show()

### 10. Sort Data by Value to Verify Distribution.

In [ ]:
yogurt_production[['Value', 'State_ANSI', 'Year']].sort_values(by='Value', ascending=False)

In [ ]:
yogurt_production.boxplot('Value')

### 11. Use PRAGMA to Check Column Data Type in SQLite query

In [ ]:
%%sql

PRAGMA table_info(yogurt_production);

### 12. Confirm Null Values in the Value Column

In [ ]:
%%sql

Select 
    Year, State_ANSI, Value
From yogurt_production
Where Value is null

## Scenario:

### 1. What is the State_ANSI code for Florida?

In [ ]:
%%sql 

Select State, State_ANSI 
    From 
        state_lookup
    Where
        State = 'FLORIDA'

### 2. What is the total cheese production for 2023?

In [ ]:
%%sql

Select Year, Sum(Value2) AS Total_Cheese_Production
    From 
        cheese_production
    where 
        Year = 2023

In [ ]:
# Step 1: Filter to 2023
cheese_2023 = cheese_production[cheese_production["Year"] == 2023]

# Step 2: Sum the 'Value' column
total_value_2023 = cheese_2023["Value"].sum()

# Step 3: Create a new DataFrame with the total
sum_df = pd.DataFrame({"Year": [2023], "Value": [total_value_2023]})

# Step 4: Plot it
g = sns.catplot(data=sum_df, x="Year", y="Value", kind="bar", height=4, aspect=0.5, palette=["#742121"])

# Step 5: Add data label above the bar
for ax in g.axes.flat:
    for bar in ax.patches:
        height = bar.get_height()
        ax.annotate(f'{height:,.0f}', 
                    (bar.get_x() + bar.get_width() / 2., height),
                    ha='center', va='bottom', fontsize=10, fontweight='bold')

    # Disable scientific notation on y-axis
    ax.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'{x:,.0f}'))

# Add a title
plt.title("Total Cheese Production 2023")

# Show the plot
plt.show()

### 3. How much cheese did New Jersey produce in April 2023?

In [ ]:
%%sql

Select cp.Period, cp.Year, sl.State, sl.State_ANSI, cp.Value2 AS cheese_production 
    From 
        cheese_production cp
      Join
        state_lookup sl on 
        sl.State_ANSI = cp.State_ANSI
    Where 
        cp.Period = 'APR' AND 
        cp.Year = 2023 AND 
        sl.State = 'NEW JERSEY' AND 
        sl.State_ANSI = 34

In [ ]:
# Step 1: Filter to State_ANSI = 34, and April 2023
njcheese = cheese_production[(cheese_production["State_ANSI"] == 34) & (cheese_production["Year"] == 2023)]

# Step 4: Plot it
l = sns.catplot(data=njcheese, x="Period", y="Value", kind="bar", height=4, aspect=2.5, 
                palette=["#fdc543", "#742121", "#108372", "#108372"])

# Step 5: Add data labels and format y-axis
for ax in l.axes.flat:
    for bar in ax.patches:
        height = bar.get_height()
        ax.annotate(f'{height:,.0f}', 
                    (bar.get_x() + bar.get_width() / 2., height),
                    ha='center', va='bottom', fontsize=10, fontweight='bold')
    
    # Disable scientific notation and add commas to y-axis
    ax.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'{x:,.0f}'))

# Add a title
plt.subplots_adjust(top=0.85)
l.fig.suptitle("New Jersey Cheese Production 2023", fontsize=18)

# Show the plot
plt.show()

### 4. How many states have cheese production greater than 100 million in April 2023?

In [ ]:
%%sql

Select cp.Period, cp.Year, sl.State, cp.State_ANSI, cp.Value2 AS Total_Cheese_Production
    From 
        cheese_production cp
    Left Join 
        state_lookup sl on
            sl.State_ANSI = cp.State_ANSI
        Where 
            cp.Value2 > 100000000 AND 
            cp.Period = 'APR' AND
            Year = 2023

In [ ]:
%%sql

Select cp.Period, cp.Year, sl.State, cp.State_ANSI, cp.Value2 AS Total_Cheese_Production
    From 
        cheese_production cp
    Inner Join 
        state_lookup sl on
            sl.State_ANSI = cp.State_ANSI
        Where 
            cp.Value2 > 100000000 AND 
            cp.Period = 'APR' AND
            Year = 2023

In [ ]:
# Step 1: Filter to Value = 34,  Year = 2023, and Period = APR
greatestcheese = cheese_production[(cheese_production["Value"] >= 100000000) & 
                                   (cheese_production["Year"] == 2023) & 
                                   (cheese_production["Period"] == 'APR')]

#Plot here
greatestcheese = pd.merge(greatestcheese, state_lookup, left_on='State_ANSI', right_on='State_ANSI', how='left')
greatestcheese.loc[greatestcheese["State"].isna(), "State"] = "State Value Unknown"

# Step 4: Plot it
m = sns.catplot(data=greatestcheese, x="State", y="Value", kind="bar", height=4, aspect=1.75, 
                palette=["#742121","#108372","#38556F"])

# Step 5: Add data label above the bar
for ax in m.axes.flat:
    for bar in ax.patches:
        height = bar.get_height()
        ax.annotate(f'{height:,.0f}', 
                    (bar.get_x() + bar.get_width() / 2., height),
                    ha='center', va='bottom', fontsize=10, fontweight='bold')

    # Disable scientific notation on y-axis
    ax.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'{x:,.0f}'))

# Add a title
plt.title("States With 2023 Cheese Production Greater Than 100M", fontsize=18)

# Show the plot
plt.show()

### 5. How much cheese did ALL states provide in 2023 by month?

In [ ]:
%%sql

Select  Year, Period, Sum(Value2) AS Total_Cheese_Production
    From 
        cheese_production
    Where 
        Year = 2023
    Group By 
        Period
    Order By
        Sum(Value2) DESC

In [ ]:
# Step 1: Filter to 2023

allcheese = cheese_production[cheese_production["Year"] == 2023]

# Group the data
allbcheese = allcheese.groupby(['Period','Year'])[['Value']].agg({'Value': 'sum'}).reset_index()

# Create the catplot
g = sns.catplot(data=allbcheese, x='Period', y='Value',  kind='bar', height=5, aspect=2, 
                palette=["#584937", "#742121", 
                         "#584937", "#fdc543"])

plt.xticks(rotation=45)
plt.title("Cheese Consumption by Period of 2023", fontsize=25)

# Add values on top of the bars
for bar in g.ax.patches:
    height = bar.get_height()
    g.ax.annotate(f'{height:,.0f}',
                  xy=(bar.get_x() + bar.get_width() / 2, height),
                  xytext=(0, 3),  # 3 points vertical offset
                  textcoords="offset points",
                  ha='center', va='bottom', fontsize=9, fontweight='bold')

# Format y-axis labels
g.ax.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'{x:,.0f}'))

 
plt.tight_layout()
plt.show()

### 6. Find the total cheese production for each month in 2022.

In [ ]:
%%sql 

    Select Year, Period, Sum(Value2) AS Total_Cheese_Production
    From 
        cheese_production
    Where 
        Year = 2022
    Group By 
        Period
    Order By 
        Sum(Value2) Desc

In [ ]:
# Step 1: Filter to 2022 
cheese_202 = cheese_production[cheese_production["Year"] == 2022]

# Group the data
cheese_2022 = cheese_202.groupby(['Period', 'Year'])[['Value']].agg({'Value': 'sum'}).reset_index()

# Create the catplot and capture the object
g = sns.catplot(data=cheese_2022, x='Period', y='Value', kind='bar', height=7.5, aspect=5.0, 
                palette=["#fdc543", "#fdc543", "#fdc543", "#fdc543", "#fdc543", "#fdc543", "#fdc543", 
                         "#fdc543", "#fdc543", "#fdc543", "#fdc543", "#fdc543", "#38556F"])

# Rotate x labels
g.ax.set_xticklabels(g.ax.get_xticklabels(), rotation=45)

# Set title
g.ax.set_title("2022 Cheese Consumption by Period", fontsize=45)

# Set x and y axis labels with increased font size
g.ax.set_xlabel("Period", fontsize=30)
g.ax.set_ylabel("Value", fontsize=40)

# Increase font size of x and y-axis tick labels
for label in g.ax.get_yticklabels():
    label.set_fontsize(26)
g.ax.tick_params(axis='x', labelrotation=20, labelsize=31)
g.ax.tick_params(axis='y', labelsize=27)

# Format y-axis
g.ax.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'{int(x):,}'))

# Add values on top of bars
for bar in g.ax.patches:
    height = bar.get_height()
    g.ax.annotate(f'{height:,.0f}',
                  xy=(bar.get_x() + bar.get_width() / 2, height),
                  xytext=(0, 3),
                  textcoords="offset points",
                  ha='center', va='bottom', fontsize=23, fontweight='bold')


# Tidy layout and show plot
plt.tight_layout()
plt.show()

In [ ]:
%%sql
    Select Year, Sum(Value2) AS Total_Cheese_Production 
    From cheese_production
    Where Year = 2022

In [ ]:
# Please note that there is an additional bar for 2022 labeled Year, but is not the total for the Year of 2022. 
# This could attribute to the missing data for the months in 2023, or missing data from 2022.

### 7. What is the total yogurt production for states in the year 2022 which also have cheese production data from 2023?

In [ ]:
%%sql


SELECT yp.Year, yp.State_ANSI, (yp.Value) AS Yogurt_Production
FROM 
    yogurt_production yp
WHERE 
    yp.Year = 2022 and 
            yp.State_ANSI in 
                (SELECT DISTINCT cp.State_ANSI 
                 FROM cheese_production cp
                 WHERE cp.Year = 2023)

In [ ]:
%%sql


SELECT yp.Year, Sum(yp.Value) AS Total_Yogurt_Production 
FROM 
    yogurt_production yp
WHERE 
    yp.Year = 2022 and 
            yp.State_ANSI in 
                (SELECT DISTINCT cp.State_ANSI 
                 FROM cheese_production cp
                 WHERE cp.Year = 2023)

In [ ]:
# Filter 2023 cheese production and get unique State_ANSI values
cheese_states_2023 = cheese_production[cheese_production['Year'] == 2023]['State_ANSI'].unique()

# Filter 2022 yogurt production for only those states found in 2023 cheese production
yogurt_2022_filtered = yogurt_production[
    (yogurt_production['Year'] == 2022) &
    (yogurt_production['State_ANSI'].isin(cheese_states_2023))
]

# Merge with state lookup
yogurt_2022_merged = pd.merge(yogurt_2022_filtered, state_lookup, on='State_ANSI', how='left')

# Define a function to show absolute values in pie chart
def absolute_value(val):
    total = yogurt_2022_merged['Value'].sum()
    absolute = int(round(val / 100 * total))
    return f'{absolute:,}'

# Plot pie chart
plt.pie(
    yogurt_2022_merged['Value'], 
    labels=yogurt_2022_merged['State'], 
    autopct=absolute_value, 
    explode=[0.1] + [0]*(len(yogurt_2022_merged)-1),  # explode only first slice
    shadow=True, 
    startangle=140,
colors=(["#767750", #Maroon
        "#742121"])
)
plt.title('2022 Yogurt Production', fontsize=22)
plt.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
plt.show()

### 8. What States produced milk in 2023?

In [ ]:
%%sql


Select mp.Year, sl.State, mp.State_ANSI, Sum(Value) AS Milk_Production_By_State
    From 
        milk_production mp
    Inner Join 
        state_lookup sl on
            mp.State_ANSI = sl.State_ANSI 
    Where mp.Year = 2023
    Group By
        mp.State_ANSI 
    Order By 
        mp.Value DESC

In [ ]:
# Filter and prepare data
milk_202 = milk_production[milk_production['Year'] == 2023]
milk_202 = pd.merge(milk_202, state_lookup, on='State_ANSI', how='left')
milk_2023 = milk_202.groupby(['State', 'Year'])['Value'].sum(min_count=1).reset_index()

# Sort states by milk consumption in descending order
milk_2023 = milk_2023.sort_values('Value', ascending=False)

# Create the horizontal bar plot
g = sns.catplot(
    data=milk_2023,
    y='State',  # now on y-axis
    x='Value',  # now on x-axis
    kind='bar', orient='h',
    height=12,  # adjust for better spacing
    aspect=1.2,
    palette=["#fdc543" , #Yellow  
            "#fdc543", #Yellow 
             "#742121" , #Maroon
             "#742121", #Maroon
             "#742121", #Maroon
             "#406E3C", #Green  
             "#406E3C" , #Green  
             "#406E3C", #Green  
             "#6F3193", #purple
             "#6F3193", #purple
             "#6F3193", #purple
             "#6F3193", #purple
             "#6F3193" , #purple
             "#6F3193", #purple
             "#6F3193", #purple
             "#6F3193", #purple
             "#6F3193", #purple
             "#3F438D", #Blue
             "#3F438D" , #Blue
             "#767750", #Olive
             "#767750", #Olive
             "#767750", #Olive
             "#767750" , #Olive
             "#767750", #Olive
            ]
)

# Set title
g.ax.set_title("2023 Milk Consumption by State", fontsize=25)

# Format x-axis with commas
g.ax.xaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'{int(x):,}'))

# Add values to the right of bars
for bar in g.ax.patches:
    width = bar.get_width()
    if not pd.isna(width):
        g.ax.annotate(f'{width:,.0f}',
                      xy=(width, bar.get_y() + bar.get_height() / 2),
                      xytext=(5, 0),
                      textcoords='offset points',
                      ha='left', va='center', fontsize=12, fontweight='bold')
        
plt.tight_layout()
plt.show()

### 9. Did Delaware produce any cheese in April 2023?

In [ ]:
%%sql

    Select cp.Year, cp.Period, cp.State_ANSI, sl.State, cp.Value2 AS Total_Cheese_Production
        From
            cheese_production cp
        Left Join
            state_lookup sl on
            cp.State_ANSI = sl.State_ANSI
       Where 
            cp.Period = 'APR' AND
            cp.Year = 2023
        Order By
            sl.State Desc

In [ ]:
# Step 1: Filter to 2023
cheese_apr = cheese_production[cheese_production['Year'] == 2023]

# Merge in state names if not already done
cheese_apr = pd.merge(cheese_apr, state_lookup, on='State_ANSI', how='left')

# Group by State and Year
cheese_apr2023 = cheese_apr.groupby(['State', 'Year'], dropna=False)['Value'].sum(min_count=1).reset_index()

# Sort states by milk consumption in descending order
cheese_apr2023 = cheese_apr2023.sort_values('Value', ascending=False)

# Plot
g = sns.catplot(data=cheese_apr2023, x='State', y='Value', kind='bar', height=8, aspect=1.5, 
                palette=["#fdc543" , #Yellow 
                         "#fdc543" , #Yellow
                         "#742121", #Maroon
                         "#742121", #Maroon
                         "#406E3C" , #Green 
                         "#406E3C" , #Green 
                         "#6F3193", #purple
                         "#6F3193", #purple
                         "#6F3193", #purple
                         "#3F438D", #Blue
                         "#3F438D", #Blue
                         "#767750", #Olive
                         "#767750", #Olive
                        ])

# Rotate x-axis labels
g.ax.set_xticklabels(g.ax.get_xticklabels(), rotation=45)

# Title and y-axis formatting
g.ax.set_title("2023 Cheese Consumption by State", fontsize=25)
g.ax.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, _: f'{x:,.0f}'))

# Add value labels
for bar in g.ax.patches:
    height = bar.get_height()
    g.ax.annotate(f'{height:,.0f}',
                  xy=(bar.get_x() + bar.get_width() / 2, height),
                  xytext=(0, 3),
                  textcoords='offset points',
                  ha='center', va='bottom', fontsize=8.95, fontweight='bold')

# Remove legend if it exists
if g._legend:
    g._legend.remove()

plt.tight_layout()
plt.show()

### 10. Your dairy division is planning on giving awards to States with the greatest influence on dairy sales for the COVID years of 2021 and 2022. In order to receive the award, States must place in the top 5 on 2 out of the 3 dairy influencers. How many States will receive an award?

### <u> Yogurt Production 2021 and 2022</u>

In [ ]:
%%sql

SELECT 
    yp.Year,
    sl.State,
    yp.State_ANSI,
    yp.Value AS Total_Yogurt_Production
From 
    yogurt_production yp
Left Join 
    state_lookup sl on
    yp.State_ANSI = sl.State_ANSI
Where 
    Year in (2021, 2022)
Group By yp.Value
Order By yp.Year, yp.Value DESC

In [ ]:
# Filter for 2021 and 2022 data
yog = yogurt_production[yogurt_production['Year'].isin([2021, 2022])]

# Group and rank yogurt production by state and year
yogu = (
    yog.groupby(['Year', 'State_ANSI'], dropna=False)[['Value']]
    .sum(min_count=1)
    .reset_index()
)

yogu['dense_rank'] = yogu.groupby('Year', dropna=False)['Value'] \
                         .rank(method='dense', ascending=False, na_option='keep')

# Merge with state lookup and sort
yogut = pd.merge(yogu, state_lookup, on='State_ANSI', how='left')
sorted_yogu = yogut.sort_values(by='dense_rank', ascending=True, na_position='last')

# Plotting (horizontal bar chart)
rt = sns.catplot(
    data=sorted_yogu, kind="bar", y='State', x='Value', hue="Year",
    palette=["#fdc543", "#0b856f"], alpha=.6, height=10, aspect=1.2
)
rt.despine(left=True)
rt.set_axis_labels("Yogurt Production Value", "State")
rt.legend.set_title("Year")
rt.ax.xaxis.set_major_formatter(StrMethodFormatter('{x:,.0f}'))
rt.fig.suptitle("Yogurt Production by State in 2021 and 2022", fontsize=17, fontweight='bold')

# Annotate bars with values
for bar in rt.ax.patches:
    width = bar.get_width()
    rt.ax.annotate(f'{width:,.0f}',
                   xy=(width, bar.get_y() + bar.get_height() / 2),
                   xytext=(3, 0),
                   textcoords="offset points",
                   ha='left', va='center', fontsize=9, fontweight='bold')

# Adjust legend position
rt._legend.set_bbox_to_anchor((1, 0.45))

plt.tight_layout()
plt.show()

### <u>Milk Production 2021 and 2022</u>

In [ ]:
%%sql

Select 
        mp.Year,
        sl.State,
        sum(Value) AS Total_Milk_Production,
        row_number() OVER (Partition By Year Order By sum(Value) DESC) rank
    From
        milk_production mp
    Left Join 
        state_lookup sl on
        mp.State_ANSI = sl.State_ANSI
    where mp.Year in (2021, 2022)
    Group By 
        mp.Year,
        mp.State_ANSI
    Order By
        rank
    limit 10

In [ ]:
# Step 14: Filter, group, rank, and merge
mi = (
    milk_production[milk_production['Year'].isin([2021, 2022])]
    .groupby(['Year', 'State_ANSI'], dropna=False)[['Value']]
    .sum(min_count=1)
    .reset_index()
)
mi['dense_rank'] = mi.groupby('Year', dropna=False)['Value'].rank(method='dense', ascending=False, na_option='keep')
mi = pd.merge(mi, state_lookup, on='State_ANSI', how='left')

# Step 5: Filter top 5 per year and prepare for plotting
mil_df = (
    mi[mi['dense_rank'] <= 5]
    .sort_values(by=['dense_rank', 'Year'], ascending=[True, True])
)

# Plot (horizontal bars)
sns.set(style="whitegrid")
g = sns.catplot(
    data=mil_df, y="State", x="Value", hue="Year", kind="bar", height=6, aspect=2,
    palette=["#0b856f", "#93845c"]
)

g.set_axis_labels("Milk Production Value", "State")
g.fig.suptitle("Milk Production by State in 2021 and 2022", fontsize=20, fontweight='bold')
g._legend.set_bbox_to_anchor((0.97, 0.5))
g.ax.xaxis.set_major_formatter(StrMethodFormatter('{x:,.0f}'))
g.ax.set_yticklabels(g.ax.get_yticklabels(), rotation=0)

# Annotate values on bars (horizontal)
for bar in g.ax.patches:
    width = bar.get_width()
    if not pd.isna(width):
        g.ax.annotate(f'{width:,.0f}',
                      xy=(width, bar.get_y() + bar.get_height() / 2),
                      xytext=(4, 0),
                      textcoords="offset points",
                      ha='left', va='center',
                      fontsize=10, fontweight='bold')

plt.tight_layout()
plt.show()

### <u> Cheese Production 2021 and 2022</u>

In [ ]:
%%sql

Select 
        cp.Year,
        sl.State,
        sum(Value2) AS Total_Cheese_Production,
        row_number() OVER (Partition By Year Order By sum(Value2) DESC) rank
    From
        cheese_production cp
    Left Join 
        state_lookup sl on
        cp.State_ANSI = sl.State_ANSI
    where cp.Year in (2021, 2022)
    Group By 
        cp.Year,
        cp.State_ANSI
    Order By
        rank
    limit 12

In [ ]:
# Filter, group, rank, and join with lookup in one pipeline
top5_billmill = (
    cheese_production[cheese_production['Year'].isin([2021, 2022])]
    .groupby(['Year', 'State_ANSI'], dropna=False)[['Value']]
    .sum(min_count=1)
    .reset_index()
    .assign(dense_rank=lambda df: df.groupby('Year')['Value'].rank(method='dense', ascending=False, na_option='keep'))
    .sort_values(by='dense_rank', ascending=True, na_position='last')
    .merge(state_lookup, on='State_ANSI', how='left')
    .query('dense_rank <= 6')
    .sort_values(by=['Year', 'dense_rank'])
)

top5_billmill['State'] = top5_billmill['State'].fillna("Unknown")

# Plotting
sns.set(style="whitegrid")
g = sns.catplot(
    data=top5_billmill, y="State", x="Value", hue="Year", kind="bar", height=6, aspect=2,
    palette=["#8DC0E6", "#fdd472"]
)
g.set_axis_labels("Cheese Production Value", "State")
g.fig.suptitle("Cheese Production by State in 2021 and 2022", fontsize=20, fontweight='bold')
g._legend.set_bbox_to_anchor((0.97, 0.5))
g.ax.xaxis.set_major_formatter(StrMethodFormatter('{x:,.0f}'))

# Annotate bars
for bar in g.ax.patches:
    width = bar.get_width()
    if not pd.isna(width):
        g.ax.annotate(f'{width:,.0f}',
                      xy=(width, bar.get_y() + bar.get_height() / 2),
                      xytext=(4, 0),
                      textcoords="offset points",
                      ha='left', va='center',
                      fontsize=10.25, fontweight='bold')

plt.tight_layout()
plt.show()